# Exclude tests
**/tests/
data-retriever/tests/

# Exclude git
.git/
.gitignore

# Exclude environment variables and secrets
.env
deployment/terraform/terraform.tfvars

# Exclude terraform state and directory
.terraform/
terraform.tfstate*

# Exclude local caches
__pycache__/
*.pyc
.ruff_cache/
